<%- include('./partials/header.ejs')%>
<div class="error">
    <div class="errorflex">
        <h3><%= error.status %> Error!</h3>
        <p><%= error.message %></p>
    </div>
</div>
</div>

<%- include('./partials/footer.ejs')%>