<%- include('./partials/header.ejs')%>
<div class="main-content">
    <div class="leftone">
        <article>
            <h2>BUY. SELL. TRADE.</h2>
            <P>A place where fitness enthusiasts can buy or sell no longer needed fitness apparel, gym equipment, supplements, and even fitness plans.</P>
            <a href="/fitnessItems" class="explore-btn">Explore Collection</a>
        </article>
    </div>

    <div class="lefttwo">

    </div>

    <div class="right">

    </div>
</div>
</div>

<%- include('./partials/footer.ejs')%>