<%- include('../partials/header.ejs')%>
    <div class="login-container">

      <div class="login-desc">
        <div>
          <h2>Login to FitGear Hub</h2>
          <p>To buy and sell fitness items</p>
        </div>
      </div>
      
      <div class="login-input">
        <form action="/user/login" method="POST">
          <div class="mb-3">
          </div>
      
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" name="email" required>
          </div>
          <div class="mb-3">
            <label for="details" class="form-label">Password</label>
            <input type="password" class="form-control" name="password" required>
          </div>
          <div class="submit-btn-container">
            <button type="submit" class="btn btn-primary">Sign In</button>
          </div>

        </form>
      </div>

  </div>
  </div>

<%- include('../partials/footer.ejs')%>